{% extends "home/base.html" %}

{% block title %}Music{% endblock title %}

{% block description %}
A collection of muscial works written or covered by Dane Hillard.
{% endblock description %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}music/css/music.css" />
{% endblock css %}

{% block og_title %}Music | {{ block.super }}{% endblock og_title %}
{% block og_url %}{{ block.super }}/music/{% endblock og_url %}

{% block content %}
  <iframe
    class="youtube"
    width="853" 
    height="480" 
    frameborder="0"
    src="http://www.youtube.com/embed/videoseries?wmode=opaque&amp;list=PL15E00214A5D8118B&amp;hl=en_US">
  </iframe>
  <table id="audio">
    <tr>
      <td class="song-title"><span itemprop="name">Roots</span></td>
      <td>
        <audio controls>
          <source src="/static/audio/Roots.mp3" type="audio/mpeg" />
          Sorry, your browser does not support the audio element.
        </audio>
      </td>
    </tr>
    <tr>
      <td class="song-title"><span itemprop="name">Entwined</span></td>
      <td>
        <audio controls>
          <source src="/static/audio/Entwined.mp3" type="audio/mpeg" />
          Sorry, your browser does not support the audio element.
        </audio>
      </td>
    </tr>
    <tr>
      <td class="song-title"><span itemprop="name">Whispers</span></td>
      <td>
        <audio controls>
          <source src="/static/audio/Whispers.mp3" type="audio/mpeg" />
          Sorry, your browser does not support the audio element.
        </audio>
      </td>
    </tr>
  </table>
  <p>
    See more on my <a target="_blank" href="http://www.youtube.com/daneah123">YouTube channel</a>.
  </p>
{% endblock content %}
