p.call
{
  text-align: justify;
}

.external-site
{
  display: inline-block;
}

.external-site a img
{
  width: 50px;
  height: 50px;
  transition: background 0.2s ease-in-out;
}

.external-site a img[alt=Facebook]:hover
{
  background: #3B5998;
}

.external-site a img[alt=Instagram]:hover
{
  background: #3F729B;
}

.external-site a img[alt=Twitter]:hover
{
  background: #39A9E0;
}

.external-site a img[alt=Pinterest]:hover
{
  background: #CB2027;
}

.external-site a img[alt=YouTube]:hover
{
  background: #CD332D;
}

.external-site a img[alt=LinkedIn]:hover
{
  background: #007FB1;
}

.external-site a img[alt=GitHub]:hover
{
  background: #4183C4;
}

.external-site a img[alt=stackoverflow]:hover
{
  background: #F47920;
}
