{% with request.META.HTTP_HOST as httpHost %}
{% with 'http://' as http %}
{% with 'Dane Hillard Photography' as siteName %}
{% with 'Wedding, Portrait, Fashion, Event, and Architecture Photography' as siteDescription %}
{% with 'images/icons/menu/' as menuIcons %}
{% load static %}

<!DOCTYPE html>
<html>
  <head>
	{% block meta %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta property="fb:app_id" content="152446884139" />
    <meta name="description" content="{% block description %}Ann Arbor Wedding, Portrait, Fashion, Event, and Architecture Photography{% endblock description %}" />
    <meta name="keywords" content="{% block keywords %}photography, photographer, wedding, portrait, portraiture, senior portraits, Dane, Hillard, Dane Hillard, Ann Arbor, Michigan, Ann Arbor Michigan, ASquared, A2, A Squared, southeast Michigan, event photography, wedding photography{% endblock keywords %}" />
	{% endblock meta %}

    <link href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,200" rel="stylesheet" type="text/css">
    {% block css %}
    <link rel="stylesheet" href="{% get_static_prefix %}css/base.css" />
    {% endblock css %}

    {% block og %}
	<meta property="og:type" content="{% block og_type %}website{% endblock og_type %}" />
	<meta property="og:title" content="{% block og_title %}Dane Hillard Photography{% endblock og_title %}" />
	<meta property="og:url" content="{% block og_url %}http://www.danehillard.com{% endblock og_url %}" />
	<meta property="og:description" content="{% block og_description %}{{ siteDescription }}{% endblock og_description %}" />
	{% block og_images %}
    <meta property="og:image" content="http://www.danehillard.com/static/images/logos/dhp.png" />
    <meta property="og:image:height" content="294" />
    <meta property="og:image:width" content="500" />
	{% endblock og_images %}
    {% endblock og %}
	{% block twitter %}{% endblock twitter %}
	{% block header_extras %}{% endblock header_extras %}

    <title>{% block title %}Home{% endblock title %} | Dane Hillard Photography</title>
  </head>
  <body>
    <div id="navigation">
      <ul>
        <li>
          <a href="{% url 'home:home' %}" title="Home">
            <img class="menu-icon" src="{% get_static_prefix %}{{ menuIcons }}black/home.svg" alt="Home" nopin="nopin" />
          </a>
        </li>
        <li>
          <a href="{% url 'photography:photography' %}" title="Photography">
            <img class="menu-icon" src="{% get_static_prefix %}{{ menuIcons }}black/photography.svg" alt="Photography" nopin="nopin" />
          </a>
        </li>
        <li>
          <a href="http://blog.danehillard.com" title="Blog">
            <img class="menu-icon" src="{% get_static_prefix %}{{ menuIcons }}black/blog.svg" alt="Blog" nopin="nopin" />
          </a>
        </li>
        <li>
          <a href="{% url 'contact:contact' %}" title="Contact">
            <img class="menu-icon" src="{% get_static_prefix %}{{ menuIcons }}black/contact.svg" alt="Contact" nopin="nopin" />
          </a>
        </li>
        <li>
          <a href="{% url 'about:about' %}" title="About">
            <img class="menu-icon" src="{% get_static_prefix %}{{ menuIcons }}black/user.svg" alt="About" nopin="nopin" />
          </a>
        </li>
      </ul>
    </div>

	<span id="admin-links">
	{% if request.user.is_authenticated %}
		<span id="user">{{ request.user.first_name }}</span>
		<a id="logout" href="{% url 'django.contrib.auth.views.logout' %}?next={% url 'home:home' %}">Logout</a>
		{% if request.user.is_staff %}
		| <a id="admin" href="{% url 'admin:index' %}">Administration</a>
		{% endif %}
	{% else %}
		<a id="login" href="{% url 'django.contrib.auth.views.login' %}?next={% firstof request.path 'home:home' %}">Login</a>
	{% endif %}
	</span>

    <div id="content">
      {% block content %}
      {% endblock content %}
    </div>

	{% block final %}
	{% endblock final %}

	{% block js %}
    <script type="text/javascript" src="{% get_static_prefix %}js/google_analytics_tracking.js"></script>
    {% endblock js %}
  </body>
</html>

{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
