{% extends '__base.html' %}
{% load staticfiles %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
{% endblock css %}

{% block title %}Home | {% endblock title %}

{% block content %}
<div>
	<img id="logo" src="{% static 'images/logos/dhp.png' %}" alt="dHP Logo -- Dane Hillard Photography" nopin="nopin" />
</div>
<h1>Dane Hillard Photography</h1>
<div id="latest-photos">
    {% for photoset in latest_photosets %}
    <a href="{% url 'photography:photoset' photoset.id photoset.slug %}" title="{{ photoset.title }}">
        <img src="{{ photoset.feature_photo.thumbnail_square.url }}" nopin="nopin" alt="{{ photoset.feature_photo.title }}{% if photoset.feature_photo.description %} | {{ photoset.feature_photo.description }}{% endif %}"/>
    </a>
    {% endfor %}
    <p>
        <a href="{% url 'photography:photography' %}">Portfolio</a>
    </p>
</div>
<hr />
<p>
	<span>Ann Arbor</span>, <span>MI</span>, <span>USA</span>
<p>
<p>
	<a href="{% url 'contact:contact' %}" title="Book me!">Book me</a> today!
</p>
{% include 'fb_like.html' %}
{% endblock content %}

{% block final %}
	{% include 'sdk_templates/fb_sdk.html' %}
{% endblock final %}
