{% extends '__base_no_disqus.html' %}
{% load staticfiles %}

{% block title %}Home | {{ block.super }}{% endblock title %}

{% block og_type %}business.business{% endblock %}
{% block og_extras %}
<meta property="business:contact_data:street_address" content="210 Nickels Arcade" />
<meta property="business:contact_data:locality" content="Ann Arbor" />
<meta property="business:contact_data:region" content="Michigan" />
<meta property="business:contact_data:postal_code" content="48104" />
<meta property="business:contact_data:country_name" content="United States" />
<meta property="business:contact_data:email" content="contact@danehillard.com" />
<meta property="business:contact_data:phone_number" content="12316310489" />
<meta property="business:contact_data:website" content="https://www.danehillard.com" />
{% endblock og_extras %}

{% block content %}
{% include '__i_dhp_logo.html' %}
<h1 class="text-center">Dane Hillard Photography<br/><small>Ann Arbor, MI, USA</small></h1>

<div class="text-center row padding-top bottom-buffer">
    <a class="btn btn-primary btn-large" href="{% url 'contact:contact' %}">Book a Session</a>
    <a class="btn btn-primary btn-large" href="{{ MAILCHIMP_SIGNUP_LINK }}" title="Receive updates on new blog posts and special rates!">Join Mailing List</a>
</div>

<div class="text-center row bottom-buffer">
    {% include 'fb_like.html' %}
</div>

{% if posts %}
{% with posts.0 as post %}
<div class="row inner-padding post-row" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url({{ post.feature_image.thumbnail_large.url }});">
    <div class="text-center col-md-8 col-md-offset-2">
        {% include 'home/post_snippet.html' %}
    </div>
</div>
{% endwith %}
{% endif %}

{% for post in posts|slice:":5" %}
    {% if forloop.first %}
    {% else %}
        {% if forloop.counter|divisibleby:2 %}
            <div class="row">
                <div class="text-center col-md-{% if forloop.last %}12{% else %}6{% endif %} post-row inner-padding" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url({{ post.feature_image.thumbnail_large.url }});">
                    {% include 'home/post_snippet.html' %}
                </div>
        {% else %}
                <div class="text-center col-md-6 post-row inner-padding" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url({{ post.feature_image.thumbnail_large.url }});">
                    {% include 'home/post_snippet.html' %}
                </div>
            </div>
        {% endif %}
        {% if forloop.last and forloop.counter|divisibleby:2 %}
            </div>
        {% endif %}
    {% endif %}
{% endfor %}

<footer>
    <h2 class="text-center">All Posts</h2>
    <hr />
    <div class="row">
    {% for year, posts in posts_by_year.items %}
        <div class="col-sm-3 col-lg-2">
            <h5 class="year-post-list-header">{{ year }}</h5>
            <ul class="year-post-list">
                {% for post in posts %}
                <li><a href="{% url 'blog:post' post.slug %}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
    </div>
</footer>

{% endblock content %}

{% block final %}
    <script type="application/ld+json">{% include 'json-ld/organization.json' %}</script>
{% endblock final %}

{% block js %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/fb_sdk.js' %}"></script>
{% endblock js %}
