{% extends 'home/__base.html' %}
{% load static %}

{% block meta %}
<meta http-equiv="content-type" content="text/html" />
<meta charset="utf-8" />
<meta property="fb:app_id" content="152446884139" />
<meta name="description" content="{% block description %}Ann Arbor Wedding, Portrait, Fashion, Event, and Architecture Photography{% endblock description %}" />
<meta name="keywords" content="{% block keywords %}photography, photographer, wedding, portrait, portraiture, senior portraits, Dane, Hillard, Dane Hillard, Ann Arbor, Michigan, Ann Arbor Michigan, ASquared, A2, A Squared, southeast Michigan, event photography, wedding photography{% endblock keywords %}" />
<meta name="google-site-verification" content="Boc3cLhNPB4ArvuP60R9_XvNp2rm4MlRFq5Uz3dh3cg" />
{% endblock meta %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/index.css" />
{% endblock css %}

{% block title %}Home | {% endblock title %}

{% block content %}
<div itemscope itemtype="http://schema.org/LocalBusiness">
	<a href="{% url 'photography:photography' %}" title="Portfolio">
  		<img itemprop="image" id="logo" src="{% get_static_prefix %}images/logos/dhp.png" alt="dHP Logo -- Dane Hillard Photography" nopin="nopin" />
	</a>
</div>
<h1 itemprop="name">Dane Hillard Photography</h1>
<div id="latest-photos">
{% for photoset in latest_photosets %}
	<a href="{% url 'photography:photoset' photoset.id photoset.slug %}" title="{{ photoset.title }}">
		<img src="{{ photoset.feature_photo.thumbnail_square.url }}" nopin="nopin" alt="{{ photoset.feature_photo.title }}{% if photoset.feature_photo.description %} | {{ photoset.feature_photo.description }}{% endif %}"/>
	</a>
{% endfor %}
<p>
	Go to <a href="{% url 'photography:photoset_list' %}">archive</a> or view my <a href="{% url 'photography:photography' %}">portfolio</a>
</p>
</div>
<hr />
<p itemscope itemtype="http://schema.org/PostalAddress">
	<span itemprop="addressLocality">Ann Arbor</span>, <span itemprop="addressRegion">MI</span>, <span itemprop="addressCountry">USA</span>
<p>
<p itemprop="description">
	{{ siteDescription }}
</p>
<p>
	<a href="{% url 'contact:contact' %}" title="Book me!">Book me</a> today!
</p>
<div class="fb-like" 
	data-href="http://www.facebook.com/danehillard" 
	data-width="300" 
	data-height="20" 
	data-colorscheme="light" 
	data-layout="standard" 
	data-action="like" 
	data-show-faces="true" 
	data-send="false">
</div>
{% endblock content %}

{% block final %}
	{% include 'home/fb_sdk.html' %}
{% endblock final %}
