{% extends '__base_no_disqus.html' %}

{% block title %}Login | {{ block.super }}{% endblock title %}

{% block extra_meta_tags %}
<meta name="robots" content="noindex">
{% endblock extra_meta_tags %}

{% block content %}
<h1 class="text-center">Login</h1>
<form action="" method="post">{% csrf_token %}
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    {{ error }}
                </div>
                {% endfor %}
            {% endif %}

            <div class="form-group{% if form.username.errors %} has-error{% endif %}">
                <input placeholder="Username" class="form-control" name="{{ form.username.html_name }}" />
            </div>
            <div class="form-group{% if form.password.errors %} has-error{% endif %}">
                <input placeholder="Password" type="password" class="form-control" name="{{ form.password.html_name }}" />
            </div>
            <div class="text-center">
                <input class="btn btn-primary btn-large" type="submit" value="Log In" />
            </div>
        </div>
    </div>
</form>
{% endblock %}
