{% load thumbnail %}

<div class="row top-buffer">
    <div class="col-md-2 col-md-offset-3">
        <a href="{% url 'blog:post' post.slug %}">
            {% thumbnail post.feature_image.image "300x300" crop="center" as thumb %}
            <img class="img-responsive" src="{{ thumb.url }}" alt="{{ post.feature_image.alt_text }}" />
            {% endthumbnail %}
        </a>
    </div>
    <div class="col-md-6 text-left">
        <h2 class="no-top-margin">
            <a href="{% url 'blog:post' post.slug %}">
                {{ post.title }}
                {% if post.subtitle %}<small>{{ post.subtitle }}</small>{% endif %}
            </a>
        </h2>
        <small>{% firstof post.go_live_date|date:"jS F, Y" post.date_created|date:"jS F, Y" %}</small>
        <div class="row">
            <div class="col-md-6">
                <p>{{ post.meta_description }}</p>
            </div>
        </div>
        <a class="btn btn-primary outline" href="{% url 'blog:post' post.slug %}">
            Read More<span class="sr-only"> about {{ post.title }}</span>
        </a>
    </div>
</div>
