.photo-like-button, .photo-pin-button
{
  display: block !important;
  position: fixed !important;
}

.photo-like-button
{
  top: 10px;
  left: 10px;
  z-index: 1;
}

.photo-pin-button
{
  top: 35px;
  left: 10px;
}

#feature
{
  margin: 0px auto;
  display: table;
}
