@import "../../../../assets/css/base"
@import "../../../../assets/css/vendor-prefix"
@import "../../../../assets/css/dhp-constants"

.photo img
  border: 0
  height: 250px
  width: 250px
  margin: 5px
  +vendor-prefix(border-radius, 5px)

.fancybox-outer
  box-shadow: 0px 4px 50px rgba(0, 0, 0, .85)

.fancybox-title-float-wrap .child
  font-family: $font-stack !important
  font-weight: normal !important
  letter-spacing: 1px !important

p
  text-align: justify
