.photo-like-button, .photo-pin-button, .photo-tweet-button, .photo-tumblr-button
{
	display: block !important;
	position: fixed !important;
	left: 10px;
}

.photo-tweet-button
{
	top: 10px;
}

.photo-like-button
{
	top: 35px;
}

.photo-pin-button
{
	top: 60px;
}

.photo-tumblr-button
{
	top: 85px;
}

#feature
{
	margin: 0px auto;
	display: table;
}
