[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6"

[packages]
"boto3" = "*"
coverage = "*"
django = "~=2.0.4"
django-codemirror-widget = "*"
gunicorn = "*"
mysqlclient = "*"
Pillow = "*"
"python3-memcached" = "*"
requests = "*"
rollbar = "*"
sorl-thumbnail = "*"
zappa = "*"
django-storages = "*"
django-webpack-loader = "*"

[dev-packages]
django-debug-toolbar = "*"
