{% extends "home/base.html" %}

{% block title %}{{ album.title }}{% endblock %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}js/jQuery/fancyBox/source/jquery.fancybox.css?v=2.1.5" />
<link rel="stylesheet" href="{{ STATIC_URL }}js/jQuery/fancyBox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" />
<link rel="stylesheet" href="{{ STATIC_URL }}photography/css/album.css" />
{% endblock css %}

{% block meta %}
<meta name="description" content="{{ siteDescription }}" />
<meta name="keywords" content="photography, Dane Hillard, Dane Hillard Photography, wedding, fashion, portraiture, architecture, Ann Arbor, Michigan" />
{% endblock meta %}

{% block og %}
<meta name="og:type" content="danehillard:album" />
<meta name="og:url" content="{{ http }}{{ httpHost }}{% url 'photography:album' album.uuid %}" /> 
<meta name="og:title" content="{{ album.title }} | {{ siteName }}" />
<meta name="og:site_name" content="{{ siteName }}" />
<meta name="og:description" content="{{ siteDescription }}" />
<meta name="og:image" content="{{ http }}{{ httpHost }}{{ STATIC_URL }}photography/dhp.png" />
{% endblock og %}

{% block js %}
{{ block.super }}
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jQuery/fancyBox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jQuery/fancyBox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
<script type="text/javascript" src="{{ STATIC_URL }}photography/js/photography.js"></script>
{% endblock js %}
{% block content %}
  {% include 'photography/fb_sdk.html' %}
  <h1 id="title">{{ album.title }}</h1>
  <h2><a href="/photography" id="back-to-albums" title="All Albums">&laquo;</a></h2>
  <div id="frame" contains="{{ album.uuid }}">
    {% if album.photograph_set.all %}
    {% for photograph in album.photograph_set.all|dictsortreversed:"published_date" %}
    {% url 'photography:photo' photograph.uuid as photoUrl %}
      <a class="photo" id="{{ photograph.uuid }}" rel="album" href="{{ photograph.thumbnail_large.url }}" data-title-id="title-for-{{ photograph.uuid }}">
        <img src="{{ photograph.thumbnail_square.url }}" alt="{{ photograph.title }}"/>
      </a>
      <div class="photo-title" id="title-for-{{ photograph.uuid }}">
        <span>{{ photograph.title }}</span>
        <a class="permalink" href="{{ photoUrl }}">
          <img src="{{ STATIC_URL}}{{ menuIcons }}white/link.svg" />
        </a>
        <div class="photo-like-button fb-like" data-href="http://{{ httpHost }}{{ photoUrl }}" 
          data-send="false" data-layout="button_count">
        </div>
        <div class="photo-pin-button">
          <a href="//pinterest.com/pin/create/button/?url={{ http|urlencode:'' }}{{ httpHost|urlencode:'' }}{{ photoUrl|urlencode:'' }}&media={{ http|urlencode:'' }}{{ httpHost|urlencode:'' }}{{ photograph.thumbnail_large.url|urlencode:'' }}&description={{ photograph.title|urlencode:'' }}%20%28danehillard.com%29"
            data-pin-do="buttonPin" 
            data-pin-config="none"
            data-pin-hover="true">
            <img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" />
          </a>
        </div>
      </div>
    {% endfor %}
    {% else %}
      <p>
        This album is currently empty. Come back soon!
      </p>
    {% endif %}
  </div>
{% endblock content %}
