{% extends "home/base.html" %}
{% load static %}

{% block title %}{{ album.title }}{% endblock %}

{% block description %}
{{ album.title }} -- An album of {{ album.photograph_set.count }} photograph{{ album.photograph_set.count|pluralize }} by Dane Hillard.
{% endblock description %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}js/jQuery/fancyBox/source/jquery.fancybox.css?v=2.1.5" />
<link rel="stylesheet" href="{{ STATIC_URL }}photography/css/album.css" />
{% endblock css %}

{% block og_type %}danehillard:album{% endblock og_type %}
{% block og_url %}{{ http }}{{ httpHost }}{% url 'photography:album' album.uuid %}{% endblock og_url %} 
{% block og_title %}{{ album.title }} | {{ block.super }}{% endblock og_title %}
{% block og_description %}{{ album.title }} -- An album of {{ album.photograph_set.count }} photograph{{ album.photograph_set.count|pluralize }} by Dane Hillard{% endblock og_description %}
{% block og_images %}
{% for photograph in album.photograph_set.all|slice:":10" %}
<meta property="og:image" content="{{ http }}{{ httpHost }}{{ photograph.thumbnail_large.url }}" />
<meta property="og:image:type" content="image/jpeg">
<meta property="og:image:width" content="{{ photograph.l_width }}">
<meta property="og:image:height" content="{{ photograph.l_height }}">
{% endfor %}
{% endblock og_images %}

{% block twitter %}
  <meta name="twitter:card" content="gallery">
  <meta name="twitter:url" content="{{ http }}{{ httpHost }}{% url 'photography:album' album.uuid %}" />
  <meta name="twitter:title" content="{{ album.title }} | {{ siteName }}" />
  <meta name="twitter:description" content="{{ siteDescription }}" />
  <meta name="twitter:site" content="@{{ social_media.twitter }}" />
  <meta name="twitter:creator" content="@{{ social_media.twitter }}" />
  <meta name="twitter:domain" content="danehillard.com" />
  {% for photograph in album.photograph_set.all|slice:":4" %}
  <meta name="twitter:image{{ forloop.counter0 }}" content="{{ http|add:httpHost|add:photograph.thumbnail_medium.url }}" />
  {% endfor %}
{% endblock twitter %}

{% block content %}
  <a href="{% url 'photography:photography' %}" title="Portfolio">
	  <img id="logo" src="{% get_static_prefix %}images/logos/dhp.png" alt="dHP Logo" nopin="nopin" />
  </a>
  <h1 id="title">{{ album.title }}</h1>
  <div id="frame">
    {% if album.photograph_set.all %}
    {% for photograph in album.photograph_set.all %}
    {% url 'photography:photo' photograph.uuid as photoUrl %}
    <div itemscope itemtype="http://schema.org/Product" class="photograph">
      <a class="photo" id="{{ photograph.uuid }}" rel="album" href="{{ photograph.thumbnail_large.url }}" data-title-id="title-for-{{ photograph.uuid }}">
        <img itemprop="image" src="{{ photograph.thumbnail_square.url }}" alt="{{ photograph.title }}{% if photograph.description %} | {% autoescape on %}{{ photograph.description }}{% endautoescape %}{% endif %}" />
      </a>
      <div class="photo-title" id="title-for-{{ photograph.uuid }}">
        <span itemprop="name">{{ photograph.title }}</span>
		<div class="photo-tweet-button">
			<a href="https://www.twitter.com/share?url={{ http|add:httpHost|add:photoUrl|urlencode:'' }}&related={{ social_media.twitter }}&text={{ photograph.title|add:' — a photograph via @'|urlencode:'' }}{{ social_media.twitter }}&lang=en&count=horizontal"
			   class="twitter-share-button" 
			   data-lang="en">Tweet</a>
		</div>
		<div class="photo-like-button fb-like"
			 data-href="{{ http|add:httpHost|add:photoUrl }}"
			 data-send="false"
			 data-layout="button_count">
        </div>
        <div class="photo-pin-button">
          <a href="//www.pinterest.com/pin/create/button/?url={{ http|add:httpHost|add:photoUrl|urlencode:'' }}&media={{ http|add:httpHost|add:photograph.thumbnail_large.url|urlencode:'' }}&description={{ photograph.title|urlencode:'' }}"
            data-pin-do="buttonPin" 
			data-pin-config="beside"
			data-pin-color="red">
            <img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_20.png" />
          </a>
        </div>
		<div class="photo-tumblr-button">
			<a href="http://www.tumblr.com/share/photo?source={{ http|add:httpHost|add:photograph.thumbnail_large.url }}&caption={{ photograph.title|urlencode:'' }}&clickthru={{ http|add:httpHost|add:photoUrl|urlencode:'' }}" target="_blank" title="Share on Tumblr" style="display:inline-block; text-indent:-9999px; overflow:hidden; width:61px; height:20px; background:url('http://platform.tumblr.com/v1/share_2.png') top left no-repeat transparent;">
				Share on Tumblr
			</a>
		</div>
        <a class="permalink" href="{{ photoUrl }}" title="Permalink">
          <img src="{{ STATIC_URL|add:menuIcons }}white/link.svg" nopin="nopin" />
        </a>
      </div>
    </div>
    {% endfor %}
    {% else %}
      <p>
        This album is currently empty. Come back soon!
      </p>
    {% endif %}
  </div>
{% endblock content %}
{% block js %}
{{ block.super }}
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jQuery/fancyBox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
<script type="text/javascript" src="{{ STATIC_URL }}photography/js/photography.js"></script>
<script src="http://platform.tumblr.com/v1/share.js"></script>
{% include 'home/pinterest_sdk.html' %}
{% include 'home/twitter_sdk.html' %}
{% include 'home/fb_sdk.html' %}
{% endblock js %}
