{% extends "home/base.html" %}
{% load static %}

{% block title %}Photography{% endblock title %}

{% block description %}
The photography portfolio of Dane Hillard. This portfolio contains a variety of images including
portraiture, architecture, nature, wedding, and event photography.
{% endblock description %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}photography/css/index.css" />
{% endblock css %}

{% block og %}
<meta property="og:title" content="Photography | Dane Hillard Photography" />
<meta property="og:url" content="http://www.danehillard.com/photography/" />
<meta property="og:image" content="http://www.danehillard.com/static/images/logos/dhp.png" />
<meta property="og:type" content="website" />
<meta property="og:description" content="{{ siteDescription }}" />
{% endblock og %}

{% block content %}
  <img id="logo" src="{% get_static_prefix %}images/logos/dhp.png" title="Dane Hillard Photography" alt="DHP Logo" />
  <h1>Portfolio</h1>
  {% if album_list %}
  <ul>
    {% for album in album_list %}
    <li class="album"><a href="{% url 'photography:album' album.uuid %}">{{ album.title }}</a></li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No albums are available.</p>
  {% endif %}
  <hr />
  <h1>Photography Services</h1>
  <p>Please <a href="{% url 'contact:contact' %}">contact me</a> for a quote on portraiture, events, and your other photography needs.</p>
{% endblock content %}
