{% extends 'home/base.html' %}

{% block title %}{{ photograph.title }}{% endblock title %}

{% block description %}
{{ photograph.title }} -- A photograph by Dane Hillard. Published: {{ photograph.published_date|date:"l, F jS, Y" }}
{% endblock description %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}photography/css/photograph.css" />
{% endblock css %}

{% block og %}
  <meta name="og:type" content="danehillard:photograph" />
  <meta name="og:url" content="{{ http }}{{ httpHost }}{% url 'photography:photo' photograph.uuid %}" /> 
  <meta name="og:title" content="{{ photograph.title }} | {{ siteName }}" />
  <meta name="og:site_name" content="{{ siteName }}" />
  <meta name="og:description" content="{{ siteDescription }}" />
  <meta name="og:image" content="{{ photograph.thumbnail_small.url }}" />
{% endblock og %}

{% block content %}
  {% include 'home/fb_sdk.html' %}
  <div id="feature">
    <h1 id="title">{{ photograph.title }}</h1>
    <img src="{{ photograph.thumbnail_large.url }}" alt="{{ photograph.title }}" />
    <div class="photo-like-button fb-like"
      data-href="{{ http }}{{ httpHost }}{% url 'photography:photo' photograph.uuid %}" 
      data-send="false" 
      data-layout="button_count">
    </div>
    <div class="photo-pin-button">
      <a href="//pinterest.com/pin/create/button/?url={{ http|urlencode:'' }}{{ httpHost|urlencode:'' }}{{ request.get_full_path|urlencode:'' }}&media={{ http|urlencode:'' }}{{ httpHost|urlencode:'' }}{{ photograph.thumbnail_large.url|urlencode:'' }}&description={{ photograph.title|urlencode:'' }}%20%28danehillard.com%29"
        data-pin-do="buttonPin" 
        data-pin-config="beside"
        data-pin-hover="true">
        <img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" />
      </a>
    </div>
  </div>
  <script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
{% endblock content %}
