{% extends 'home/__base.html' %}
{% load staticfiles %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'js/jQuery/fancyBox/source/jquery.fancybox.css' %}?v=2.1.5" />
<link rel="stylesheet" type="text/css" href="{% static 'photography/css/photoset.css' %}" />
{% endblock css %}
{% block content %}
<h1>{{ photoset.title }}</h1>
<div id="photoset">
	{% for photo in photoset.photos.all %}
	<a id="{{ photo.uuid }}" rel="album" class="photo" href="{{ photo.thumbnail_large.url }}" data-title-id="title-for-{{ photo.uuid }}">
		<img src="{{ photo.thumbnail_square.url }}" alt="{{ photo.title }}"/>
	</a>
	{% endfor %}
</div>
<p>{{ photoset.body }}</p>
{% block js %}
{{ block.super }}
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/jQuery/fancyBox/source/jquery.fancybox.pack.js' %}?v=2.1.5"></script>
<script type="text/javascript" src="{% static 'photography/js/photoset.js' %}"></script>
<script type="text/javascript" src="//masonry.desandro.com/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="//imagesloaded.desandro.com/imagesloaded.pkgd.min.js"></script>
{% endblock js %}
{% endblock content %}