{% extends '__base.html' %}
{% load staticfiles photography_filters %}
{% block description %}{{ photoset.body|truncatechars:150 }}{% endblock %}
{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'fancybox/source/jquery.fancybox.css' %}?v=2.1.5" />
{% endblock css %}

{% block title %}{{ photoset.title }} | {% endblock title %}

{% block og_type %}danehillard:album{% endblock og_type %}
{% block og_url %}http://{{ request.get_host }}{% url 'photography:photoset' photoset.id photoset.slug %}{% endblock og_url %}
{% block og_title %}{{ photoset.title }} | {{ block.super }}{% endblock og_title %}
{% block og_images %}
{% for photograph in photoset.photos.all|slice:":10" %}
<meta property="og:image" content="http://{{ request.get_host|add:photograph.thumbnail_large.url }}" />
<meta property="og:image:type" content="image/jpeg">
<meta property="og:image:width" content="{{ photograph.l_width }}">
<meta property="og:image:height" content="{{ photograph.l_height }}">
{% endfor %}
{% endblock og_images %}

{% block twitter %}
  <meta name="twitter:card" content="gallery">
  <meta name="twitter:url" content="{{ request.get_host }}{% url 'photography:photoset' photoset.id photoset.slug %}" />
  <meta name="twitter:title" content="{{ photoset.title }} | Dane Hillard Photography" />
  <meta name="twitter:description" content="A photo set by Dane Hillard Photography" />
  <meta name="twitter:site" content="@{{ social_media.twitter }}" />
  <meta name="twitter:creator" content="@{{ social_media.twitter }}" />
  <meta name="twitter:domain" content="danehillard.com" />
  {% for photograph in photoset.photos.all|slice:":4" %}
  <meta name="twitter:image{{ forloop.counter0 }}" content="http://{{ request.get_host|add:photograph.thumbnail_medium.url }}" />
  {% endfor %}
{% endblock twitter %}

{% block content %}
{% include '__i_dhp_logo.html' %}
<h1 class="text-center">{{ photoset.title }}</h1>
<div class="row">
    <div class="text-center col-xs-12 col-md-8 col-md-offset-2">
        {% for photo in photoset.photos.all %}
        <a id="{{ photo.uuid }}" rel="album" class="photo" href="{{ photo.thumbnail_large.url }}" data-title-id="title-for-{{ photo.uuid }}">
            <img class="photo-thumbnail img-rounded" src="{{ photo.thumbnail_square.url }}" alt="{{ photo.title }}{% if photograph.description %} | {% autoescape on %}{{ photograph.description }}{% endautoescape %}{% endif %} | A photograph by Ann Arbor photographer Dane Hillard" nopin="nopin" />
        </a>
        {% endfor %}
    </div>
</div>
<div class="row">
    <div class="text-justify col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        {{ photoset.body|to_markdown }}
    </div>
</div>
{% endblock content %}

{% block js %}
{{ block.super }}
<script type="text/javascript" src="{% static 'fancybox/source/jquery.fancybox.pack.js' %}?v=2.1.5"></script>
<script type="text/javascript" src="{% static 'js/photoset.js' %}"></script>
{% endblock js %}
