{% extends 'home/__base.html' %}
{% load staticfiles %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'photography/css/photoset.css' %}" />
{% endblock css %}
{% block content %}
<img id="logo" src="{% static 'images/logos/dhp.png' %}" alt="dHP Logo" nopin="nopin"  />
<h1>Portfolio</h1>
{% for photoset in photoset_list %}
	<a class="photo" href="{% url 'photography:photoset' photoset.id photoset.slug %}" title="{{ photoset.title }}">
		<img src="{{ photoset.feature_photo.thumbnail_square.url }}" alt="{{ photoset.feature_photo.title }}"/>
	</a>
{% endfor %}
{% endblock content %}