{% extends '__base.html' %}
{% load staticfiles %}

{% block title %}{{ photograph.title }} | {% endblock title %}

{% block description %}{{ photograph.title }}{% if photograph.description %} — {% autoescape on %}{{ photograph.description }}{% endautoescape %}{% endif %} — A photograph by Dane Hillard. Published: {{ photograph.published_date|date:"l, F jS, Y" }}{% endblock description %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}photography/css/photograph.css" />
{% endblock css %}

{% block og_type %}danehillard:photograph{% endblock og_type %}
{% block og_url %}{{ request.get_host }}{% url 'photography:photo' photograph.uuid %}{% endblock og_url %}
{% block og_title %}{{ photograph.title }} | {{ block.super }}{% endblock og_title %}
{% block og_description %}{{ photograph.description }}{% endblock og_description %}
{% block og_images %}
<meta property="og:image" content="{{ request.get_host|add:photograph.thumbnail_large.url }}" />
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:height" content="{{ photograph.l_height }}" />
<meta property="og:image:width" content="{{ photograph.l_width }}" />
{% endblock og_images %}

{% block twitter %}
  <meta name="twitter:card" content="photo">
  <meta name="twitter:url" content="{{ request.get_host }}{% url 'photography:photo' photograph.uuid %}" />
  <meta name="twitter:title" content="{{ photograph.title }} | Dane Hillard Photography" />
  <meta name="twitter:description" content="{{ photography.description }}" />
  <meta name="twitter:site" content="@{{ social_media.twitter }}" />
  <meta name="twitter:creator" content="@{{ social_media.twitter }}" />
  <meta name="twitter:domain" content="danehillard.com" />
  <meta name="twitter:image" content="http://{{ request.get_host|add:photograph.thumbnail_medium.url }}" />
  <meta name="twitter:width" content="{{ photograph.m_width }}" />
  <meta name="twitter:height" content="{{ photograph.m_height }}" />
{% endblock twitter %}

{% block content %}
  <img id="logo" src="{% static 'images/logos/dhp.png' %}" alt="dHP Logo" nopin="nopin"  />
  <div id="feature">
    <h1 id="title">{{ photograph.title }}</h1>
    <img src="{{ photograph.thumbnail_large.url }}" alt="{{ photograph.title }}{% if photograph.description %} | {% autoescape on %}{{ photograph.description }}{% endautoescape %}{% endif %} | A photograph by Ann Arbor photographer Dane Hillard" />
  	{% if photosets %}
	<div id="photo-photosets">
		<p>Read more about the photo here:
			<ul>
			{% for photoset in photosets %}
				<li class="photo-photoset"><a href="{% url 'photography:photoset' photoset.id photoset.slug %}">{{ photoset.title }}</a></li>
			{% endfor %}
			</ul>
		</p>
	</div>
  	{% endif %}
  </div>
{% endblock content %}
