{% extends 'home/__base.html' %}
{% load staticfiles photography_filters %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'js/jQuery/fancyBox/source/jquery.fancybox.css' %}?v=2.1.5" />
<link rel="stylesheet" type="text/css" href="{% static 'photography/css/photoset.css' %}" />
{% endblock css %}
{% block og_type %}danehillard:album{% endblock og_type %}
{% block og_url %}{{ request.get_host }}{% url 'photography:photoset' photoset.id photoset.slug %}{% endblock og_url %}
{% block og_title %}{{ photoset.title }} | {{ block.super }}{% endblock og_title %}
{% block og_images %}
{% for photograph in photoset.photos.all|slice:":10" %}
<meta property="og:image" content="{{ request.get_host|add:photograph.thumbnail_large.url }}" />
<meta property="og:image:type" content="image/jpeg">
<meta property="og:image:width" content="{{ photograph.l_width }}">
<meta property="og:image:height" content="{{ photograph.l_height }}">
{% endfor %}
{% endblock og_images %}

{% block twitter %}
  <meta name="twitter:card" content="gallery">
  <meta name="twitter:url" content="{{ request.get_host }}{% url 'photography:photoset' photoset.id photoset.slug %}" />
  <meta name="twitter:title" content="{{ photoset.title }} | Dane Hillard Photography" />
  <meta name="twitter:description" content="A photo set by Dane Hillard Photography" />
  <meta name="twitter:site" content="@{{ social_media.twitter }}" />
  <meta name="twitter:creator" content="@{{ social_media.twitter }}" />
  <meta name="twitter:domain" content="danehillard.com" />
  {% for photograph in photoset.photos.all|slice:":4" %}
  <meta name="twitter:image{{ forloop.counter0 }}" content="http://{{ request.get_host|add:photograph.thumbnail_medium.url }}" />
  {% endfor %}
{% endblock twitter %}

{% block content %}
<h1>{{ photoset.title }}</h1>
<div id="photoset">
	{% for photo in photoset.photos.all %}
	<a id="{{ photo.uuid }}" rel="album" class="photo" href="{{ photo.thumbnail_large.url }}" data-title-id="title-for-{{ photo.uuid }}">
		<img src="{{ photo.thumbnail_square.url }}" alt="{{ photo.title }}"/>
	</a>
	{% endfor %}
</div>
<div id="photoset-body">
	{{ photoset.body|to_markdown }}
</div>
{% block js %}
{{ block.super }}
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/jQuery/fancyBox/source/jquery.fancybox.pack.js' %}?v=2.1.5"></script>
<script type="text/javascript" src="{% static 'photography/js/photoset.js' %}"></script>
<script type="text/javascript" src="//masonry.desandro.com/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="//imagesloaded.desandro.com/imagesloaded.pkgd.min.js"></script>
{% endblock js %}
{% endblock content %}
