{% extends '__base.html' %}

{% load static %}
{% load webpack_loader %}

{% block title %}Portfolio | {{ block.super }}{% endblock %}
{% block og_title %}Portfolio | {{ block.super }}{% endblock %}
{% block description %}Photography Portfolio for Dane Hillard Photography{% endblock %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'lightbox2/dist/css/lightbox.min.css' %}" />
{% endblock %}

{% block content %}
<h1 class="text-center">Portfolio</h1>
<div class="grid">
    {% for photo in photos %}
    <div class="hidden grid-item{% if photo.width > photo.height %} grid-item--width2{% endif %}">
        <a href="{{ photo.thumbnail_large.url }}" data-lightbox="portfolio">
            <img class="img-responsive" src="{{ photo.thumbnail_medium.url }}" alt="{{ photo.alt_text }}" />
        </a>
    </div>
    {% endfor %}
</div>
<div class="clearfix"></div>
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript" src="{% static 'imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
<script type="text/javascript" src="{% static 'masonry-layout/dist/masonry.pkgd.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lightbox2/dist/js/lightbox.min.js' %}"></script>
{% render_bundle 'portfolio' 'js' %}
{% endblock %}
