{% verbatim %}
{% extends '__base.html' %}
{% load future %}
{% load humanize %}
{% load snippets %}

{% block title %}{{ post.title }} | {{ block.super }}{% endblock %}

{% block og_type %}article{% endblock %}
{% block og_url %}http://{{ request.META.HTTP_HOST }}{% url 'blog:post' post.slug %}{% endblock %}
{% block og_title %}{{ post.title }} | Dane Hillard Photography{% endblock %}
{% block og_description %}{% firstof post.subtitle 'A blog post by Dane Hillard Photography' %}{% endblock %}
{% block og_images %}
<meta property="og:image" content="http://{{ request.META.HTTP_HOST }}{{ post.feature_image.image.url }}" />
<meta property="og:image:height" content="{{ post.feature_image.image.height }}" />
<meta property="og:image:width" content="{{ post.feature_image.image.width }}" />
{% endblock og_images %}

{% block twitter %}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:url" content="http://{{ request.get_host }}{% url 'blog:post' post.slug %}" />
  <meta name="twitter:title" content="{{ post.title }} | Dane Hillard Photography" />
  <meta name="twitter:description" content="A blog post by Dane Hillard Photography" />
  <meta name="twitter:site" content="@{{ SOCIAL_MEDIA.twitter }}" />
  <meta name="twitter:creator" content="@{{ SOCIAL_MEDIA.twitter }}" />
  <meta name="twitter:domain" content="danehillard.com" />
  <meta name="twitter:image" content="http://{{ request.META.HTTP_HOST }}{{ post.feature_image.image.url }}" />
{% endblock twitter %}

{% block content %}
    {% include '__i_dhp_logo.html' %}
    <div class="text-center">
        {% if not post.published %}
        <h1 class="text-danger">NOT PUBLISHED</h1>
        {% endif %}
        <h1>{{ post.title }}</h1>
        {% if post.subtitle %}<h4>{{ post.subtitle }}</h4>{% endif %}
        <h6>{% firstof post.go_live_date|naturaltime post.date_created|naturaltime %}</h6>
    </div>
{% endverbatim %}
{% autoescape off %}
    {{ postbody }}
{% endautoescape %}
{% verbatim %}
{% include 'contact_links.html' %}
{% endblock content %}
{% endverbatim %}