{% verbatim %}
{% extends '__base.html' %}
{% load snippets %}
{% load social %}
{% load static %}

{% block title %}{{ post.title }}{% if post.subtitle %} | {{ post.subtitle }}{% endif %} | {{ block.super }}{% endblock %}
{% block description %}{{ post.meta_description|default:"A blog post on Dane Hillard Photography" }}{% endblock %}

{% block og_type %}article{% endblock %}
{% block og_title %}{{ post.title }}{% if post.subtitle %} | {{ post.subtitle }}{% endif %}{% endblock %}
{% block og_description %}{{ post.meta_description|default:"A blog post on Dane Hillard Photography" }}{% endblock %}
{% block og_images %}
<meta property="og:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ post.feature_image.image.url }}" />
<meta property="og:image:height" content="{{ post.feature_image.image.height }}" />
<meta property="og:image:width" content="{{ post.feature_image.image.width }}" />
{% endblock og_images %}

{% block twitter %}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:url" content="{{ request.scheme }}://{{ request.get_host }}{% url 'blog:post' post.slug %}" />
  <meta name="twitter:title" content="{{ post.title }}{% if post.subtitle %} | {{ post.subtitle }}{% endif %}" />
  <meta name="twitter:description" content="{{ post.meta_description|default:"A blog post on Dane Hillard Photography" }}" />
  <meta name="twitter:site" content="@{{ SOCIAL_MEDIA.twitter }}" />
  <meta name="twitter:creator" content="@{{ SOCIAL_MEDIA.twitter }}" />
  <meta name="twitter:domain" content="danehillard.com" />
  <meta name="twitter:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ post.feature_image.image.url }}" />
{% endblock twitter %}

{% block content %}
    <div class="text-center">
        {% if not post.published %}
        <h1 class="text-danger">NOT PUBLISHED</h1>
        {% endif %}
        <h1>{{ post.title }}</h1>
        {% if post.subtitle %}<h4>{{ post.subtitle }}</h4>{% endif %}
        <h6>{% firstof post.go_live_date|date:"jS F, Y" post.date_created|date:"jS F, Y" %}</h6>
    </div>
{% endverbatim %}

{% autoescape off %}
    {{ postbody }}
{% endautoescape %}
{% verbatim %}

{% if previous_post or next_post or post.related_links.all %}
<hr />

<div class="row">
{% if post.related_links.all %}
    <div class="col-md-6{% if not previous_post %} col-xs-offset-3{% else %} col-md-push-3{% endif %}">
        <h2 class="text-center">Related Reading</h2>
        <div class="text-center">
            <ul class="list-unstyled related-reading-list">
                {% for related_link in post.related_links.all %}
                <li>
                    <a href="{{ related_link.url }}" target="_blank" rel="nofollow">{% autoescape off %}{{ related_link.title }}{% endautoescape %}</a>
                </li>
                {% endfor %}
          </ul>
        </div>
    </div>
{% endif %}

{% if previous_post %}
    <div class="col-xs-6{% if post.related_links.all %} col-md-3 col-md-pull-6{% endif %} text-left">
        <a class="btn btn-primary" href="{% url 'blog:post' previous_post.slug %}" title="{{ previous_post.title }}">&larr; Previous Post</a>
    </div>
{% endif %}

{% if next_post %}
    <div class="col-xs-6{% if post.related_links.all %} col-md-3{% endif %}{% if not previous_post %} col-md-offset-6{% endif %} text-right">
        <a class="btn btn-primary" href="{% url 'blog:post' next_post.slug %}" title="{{ next_post.title }}">Next Post &rarr;</a>
    </div>
{% endif %}
</div>

<hr />
{% endif %}

{% include 'contact_links.html' %}
{% endblock content %}

{% block final %}
{% include 'sdk_templates/pinterest_sdk.html' %}
<script type="application/ld+json">{% include 'blog/json-ld/post.json' %}</script>
{% endblock final %}

{% block js %}
    {{ block.super }}
    {% if request.META.HTTP_HOST == 'www.danehillard.com' %}
    <script type="text/javascript" src="{% static 'js/blog-post.js' %}"></script>
    {% endif %}
{% endblock js %}
{% endverbatim %}
