{% extends '__base_no_disqus.html' %}

{% block title %}Archive: {{ year|date:"Y" }} | {% endblock %}
{% block description %}Archive of posts on Dane Hillard Photography from {{ year|date:"Y" }}{% endblock %}

{% block content %}
{% include '__i_dhp_logo.html' %}
<h1 class="text-center">Archive: {{ year|date:"Y" }}</h1>
<div class="text-center">
    <ul class="list-unstyled">
    {% for month in date_list %}
        <li><a href="{% url 'blog:post_month_archive' year|date:"Y" month|date:"m" %}">{{ month|date:"F" }}</a></li>
    {% endfor %}
    </ul>
    {% if previous_year %}
        <a class="btn btn-primary" href="{% url 'blog:post_year_archive' previous_year|date:"Y" %}">&larr; Older</a>
    {% endif %}
    {% if next_year %}
        <a class="btn btn-primary" href="{% url 'blog:post_year_archive' next_year|date:"Y" %}">Newer &rarr;</a>
    {% endif %}
</div>
{% endblock %}