.btn {
  border: none;
  font-weight: bold;

  &.outline {
    background: none;
    border: $outlined-button-border;
    padding: $outlined-button-padding;
    color: $outlined-button-color;
  }
}

.btn-primary.outline:hover,
.btn-primary.outline:active {
  background-color: $btn-primary-bg;
  border: 2px solid $btn-primary-bg;
  color: $white;
}
