$site-accent: #00aeed
$background-color: lighten(desaturate($site-accent, 95), 35)
$text-color: darken($site-accent, 40)

$font-family-base: 'Yanone Kaffeesatz', sans-serif
$font-size-base: 24px
$font-size-admin-links: 14px
$font-weight: 300

$link-color: $site-accent
$external-site-link-color: lighten($site-accent, 50)

$menu-link-size: 50px

$dhp-logo-height: 50px

$navbar-margin: 15px

$navbar-default-bg: $background-color
$navbar-default-link-hover-bg: $navbar-default-bg
$navbar-default-border: none

$brand-primary: darken($site-accent, 5)