$white: #ffffff;
$black: #000000;
$base-font: 'Yanone Kaffeesatz';
$base-font-escaped: 'Yanone+Kaffeesatz';
$base-font-fallback: sans-serif;

$site-accent: #00aeed;
$background-color: lighten(desaturate($site-accent, 95), 35);
$text-color: darken($site-accent, 40);

$blockquote-border-color: darken($site-accent, 25);
$blockquote-font-size: 40px;

$font-family-base: $base-font, $base-font-fallback;
$font-size-base: 24px;
$font-size-admin-links: 14px;
$font-size-checkbox-labels: 18px;
$font-weight: 200;

$link-color: $site-accent;
$external-site-link-color: lighten($site-accent, 52);

$menu-link-size: 50px;

$navbar-margin: 15px;
$navbar-margin-bottom: 5px;

$navbar-default-bg: $background-color;
$navbar-default-link-hover-bg: $navbar-default-bg;
$navbar-default-border: none;

$brand-primary: darken($site-accent, 5);

$buffer-margin: 20px;
$buffer-margin-large: 50px;

$inner-padding: 50px;

$all-post-list-font-size: 17px;
$all-post-list-bottom-margin: 30px;
$all-post-list-header-bottom-margin: 5px;
$all-post-list-separator-thickness: 1px;
$all-post-list-separator-color: darken($background-color, 8);

$highlighted-link-color: lighten($site-accent, 30);
$highlighted-link-hover-color: darken($site-accent, 30);

$outlined-button-color: $white;
$outlined-button-padding: 4px 10px;
$outlined-button-border: 2px solid $white;
