.menu-icon {
  @include transition-property(transform);
  @include transition-duration(.25s);
  @include transition-transform(.5s);

  &:hover {
    @include transition-property(transform);
    @include transition-duration(.25s);
    @include scale(1.25);
  }

  svg {
    width: $menu-link-size;
    height: $menu-link-size;
    fill: $text-color;
  }
}

.external-site {
  a svg {
    width: $menu-link-size;
    height: $menu-link-size;
    fill: $external-site-link-color;
    @include transition(fill 0.3s ease-in-out);
  }

  &.facebook:hover a svg {
    fill: #3B5998;
  }
  &.instagram:hover a svg {
    fill: #3F729B;
  }
  &.twitter:hover a svg {
    fill: #39A9E0;
  }
  &.pinterest:hover a svg {
    fill: #CB2027;
  }
  &.youtube:hover a svg {
    fill: #CD332D;
  }
  &.linkedin:hover a svg {
    fill: #007FB1;
  }
}

#feedlyFollow {
  vertical-align: baseline;
}

#pinterest-pin {
  display: inline-block;
}
