@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300|Open+Sans:300,300i');

h2 {
  font-size: 36px;
  margin-top: 17px;
  margin-bottom: 17px;
}

h3 {
  font-size: 21px;
  margin-top: 17px;
  margin-bottom: 17px;
}

small {
  font-size: 14px;
}

body {
  font-weight: light;
  font-family: $font-family-body;
}

h1,
h2,
nav,
.btn {
  font-family: $font-family-headings;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  & > a {
    color: $text-color;
  }
}
