h2 {
  font-size: 36px;
  margin-top: 17px;
  margin-bottom: 17px;
}

h3 {
  font-size: 21px;
  margin-top: 17px;
  margin-bottom: 17px;
}

small {
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    & > a {
        color: $text-color;
    }
}

.no-top-margin {
  margin-top: 0;
}
