@import fonts
@import dhp-constants
@import ../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap
@import display-helpers
@import iconography
@import button-overrides
@import form
@import fixed-background-image

a,
a:hover,
a:focus,
a:active
  text-decoration: none !important

.admin-links
  font-size: $font-size-admin-links

.navbar
  .navbar-nav
    display: inline-block
    float: none
    vertical-align: top

  .navbar-collapse
    text-align: center

h1, h2, h3, h4, h5, h6
  &, & small
    font-weight: $font-weight

body
  overflow-y: scroll
  font-weight: $font-weight
  background: $background-color

::selection
  background: $site-accent

.fb-like
  height: 57px

.post-row
  color: #ffffff
  @include fixed-background-image

.img-responsive
  margin: 0 auto

.dhp-logo
  fill: $site-accent

.nopadding
  padding: 0
