@import fonts
@import dhp-constants
@import ../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap
@import form
@import fancybox_overrides

a,
a:hover,
a:focus,
a:active
  text-decoration: none !important

.admin-links
  font-size: $font-size-admin-links

.navbar
  .navbar-nav
    display: inline-block
    float: none
    vertical-align: top

  .navbar-collapse
    text-align: center

.photo-thumbnail
  margin: 10px
  width: 250px
  height: 250px

h1, h2, h3, h4, h5, h6
  &, & small
    font-weight: $font-weight

body
  overflow-y: scroll
  font-weight: $font-weight
  background: $background-color

::selection
  background: $site-accent

.menu-icon
  @include transition-property(transform)
  @include transition-duration(.25s)
  @include transition-transform(.5s)

  &:hover
    @include transition-property(transform)
    @include transition-duration(.25s)
    @include scale(1.25)

  svg
    width: $menu-link-size
    height: $menu-link-size
    fill: $text-color

.external-site
  a svg
    width: $menu-link-size
    height: $menu-link-size
    fill: $external-site-link-color
    @include transition(background 0.2s ease-in-out)

  &.facebook:hover a svg
    background: #3B5998
  &.instagram:hover a svg
    background: #3F729B
  &.twitter:hover a svg
    background: #39A9E0
  &.pinterest:hover a svg
    background: #CB2027
  &.youtube:hover a svg
    background: #CD332D
  &.linkedin:hover a svg
    background: #007FB1

.fb-like
  height: 57px

@mixin fixed-background-image()
  background-attachment: fixed
  background-size: cover
  background-position: center
  background-repeat: no-repeat

.fixed-background-image
  @include fixed-background-image
  margin: 0.8em 0
  position: relative
  overflow: hidden
  padding: 50% 0 0 0

  img
    position: absolute
    opacity: 0
    width: 100%
    height: auto
    top: 0
    left: 0

@media only screen and (max-device-width: 480px)
  .fixed-background-image img
    opacity: 1

.btn
  border: none

  &.outline
    background: none
    border: 2px solid #ffffff
    color: #ffffff

.btn-primary.outline:hover,
.btn-primary.outline:active
  background-color: $btn-primary-bg
  border: 2px solid $btn-primary-bg
  color: #ffffff

.top-buffer
  margin-top: $buffer-margin

.bottom-buffer
  margin-bottom: $buffer-margin

.inner-padding
  padding: $inner-padding

.post-row
  color: #ffffff
  @include fixed-background-image

.img-responsive
  margin: 0 auto

.dhp-logo
  fill: $site-accent

.nopadding
  padding: 0