{% load staticfiles %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# business: http://ogp.me/ns/business#">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta charset="UTF-8">

        <meta name="description" content="{% block description %}I provide fashion and lifestyle photography services to people in the area surrounding Ann Arbor, Michigan.{% endblock description %}">

        <meta property="fb:app_id" content="152446884139" />
        <meta property="fb:pages" content="192499005672" />
        <meta name="google-site-verification" content="Boc3cLhNPB4ArvuP60R9_XvNp2rm4MlRFq5Uz3dh3cg" />

        <meta property="og:type" content="{% block og_type %}{% endblock og_type %}" />
        <meta property="og:title" content="{% block og_title %}Dane Hillard Photography{% endblock og_title %}" />
        <meta property="og:url" content="{% block og_url %}{{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ request.path }}{% endblock og_url %}" />
        <meta property="og:description" content="{% block og_description %}{% endblock og_description %}" />
        {% block og_images %}
        <meta property="og:image" content="https://www.danehillard.com/static/images/logos/dhp.png" />
        <meta property="og:image:height" content="294" />
        <meta property="og:image:width" content="500" />
        {% endblock og_images %}
        {% block og_extras %}{% endblock %}

        {% block twitter %}{% endblock twitter %}

        {% block extra_meta_tags %}{% endblock %}

        <title>{% block title %}Dane Hillard Photography{% endblock title %}</title>

        {% compress css %}
            {% block css %}
            <link rel="stylesheet" type="text/css" href="{% static 'css/site.css' %}">
            {% endblock css %}
        {% endcompress %}
        <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
        <link rel="publisher" href="https://plus.google.com/+DaneHillard">
        <link rel="author" href="humans.txt">
	</head>
	<body>
	    {% include '__i_navigation.html' %}
        <div class="content container-fluid">
            {% block content %}{% endblock content %}

            {% block disqus %}
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <div id="disqus_thread"></div>
                </div>
            </div>
            {% endblock %}

            {% include '__i_admin_links.html' %}
        </div>

        {% compress js %}
        {% block js %}
            {% block disqus_js %}
            <script type="text/javascript">
                {% include 'disqus.js' %}
            </script>
            {% endblock disqus_js %}
            {% if request.META.HTTP_HOST == 'www.danehillard.com' %}
            <script type="text/javascript" src="{% static 'js/google_analytics_tracking.js' %}"></script>
            {% endif %}
            <script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'bootstrap-sass/assets/javascripts/bootstrap.min.js' %}"></script>
        {% endblock js %}
        {% endcompress %}

        {% block final %}
        {% endblock final %}
	</body>
</html>
