{% extends '__base_no_disqus.html' %}
{% load staticfiles %}

{% block title %}{% block error_page_title %}{% endblock %} | {{ block.super }}{% endblock title %}

{% block extra_meta_tags %}
<meta name="robots" content="noindex" />
{% endblock extra_meta_tags %}

{% block content %}
{% include '__i_dhp_logo.html' %}
<div class="text-center">
    <h1>{% block error_heading %}{% endblock %}</h1>
    <p>{% block error_message %}{% endblock %}</p>
</div>
{% endblock content %}

{% block disqus %}{% endblock %}
