{% load staticfiles %}
{% load cache %}

{% cache 3600 navbar %}
<div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home:home' %}">
                <img height="35" src="{% static 'images/logos/dhp.png' %}" alt="Dane Hillard Photography dHP logo" />
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{% url 'home:home' %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'photography:portfolio' %}">Portfolio</a>
                </li>
                <li>
                    <a href="{% url 'contact:contact' %}">Contact</a>
                </li>
                <li>
                    <a href="{% url 'about:pricing' %}">Pricing</a>
                </li>
                <li>
                    <a href="{% url 'about:about' %}">About</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endcache %}
