<div class="row text-center bottom-buffer">
    <span class="admin-links">
        {% if request.user.is_authenticated %}
        <span>{{ request.user.first_name }}</span>
        <a href="{% url 'logout' %}?next={% url 'home:home' %}" tabindex="-1" rel="nofollow">Logout</a>
            {% if request.user.is_staff %}
            | <a href="{% url 'admin:index' %}" tabindex="-1" rel="nofollow">Administration</a>
            {% endif %}
        {% else %}
        <a href="{% url 'login' %}?next={% firstof request.path 'home:home' %}" tabindex="-1" rel="nofollow">Login</a>
        {% endif %}
    </span>
</div>
