<div class="row top-buffer">
    <div class="text-center col-xs-12">
        <ul class="list-inline">
          <li class="external-site facebook">
            <a target="_blank" href="http://www.facebook.com/danehillard">{% include 'iconography/facebook.svg' %}</a>
          </li>
          <li class="external-site pinterest">
            <a target="_blank" href="http://www.pinterest.com/danehillard">{% include 'iconography/pinterest.svg' %}</a>
          </li>
          <li class="external-site instagram">
            <a target="_blank" href="http://www.instagram.com/danehillard">{% include 'iconography/instagram.svg' %}</a>
          </li>
          <li class="external-site twitter">
            <a target="_blank" href="http://www.twitter.com/danehillard">{% include 'iconography/twitter.svg' %}</a>
          </li>
          <li class="external-site linkedin">
            <a target="_blank" href="http://www.linkedin.com/in/danehillard">{% include 'iconography/linkedin.svg' %}</a>
          </li>
          <li class="external-site youtube">
            <a target="_blank" href="http://www.youtube.com/danehillardphoto">{% include 'iconography/youtube.svg' %}</a>
          </li>
        </ul>
    </div>
</div>