{% extends "home/base.html" %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}about/css/about.css" />
{% endblock css %}

{% block title %}About{% endblock title %}

{% block description %}
About Dane Hillard, the brains behind the Dane Hillard Photography operation.
{% endblock description %}

{% block og %}
<meta property="og:type" content="website" />
<meta property="og:title" content="About | Dane Hillard Photography" />
<meta property="og:url" content="http://www.danehillard.com/about/" />
<meta property="og:image" content="http://www.danehillard.com/static/images/DaneHillard.jpg" />
<meta property="og:description" content="{{ siteDescription }}" />
{% endblock og %}

{% block content %}
<h1>About Me</h1>
<img title="Credit: Rachel Liu Photography" id="me" src="{{ STATIC_URL }}images/DaneHillard.jpg" alt="Dane Hillard portrait"/>
<div id="bio">
  <p>
    After graduating from the University of Michigan with a degree in computer 
    engineering/mathematics, I've been living in Ann Arbor <a target="_blank" href="http://www.compendiabio.com">working as a software engineer</a>.
    I may qualify for <a target="_blank" href="http://questionablecontent.net/view.php?comic=1942">townie status</a> 
    sooner than I wish to. By day I integrate data, software, and system architecture with the ultimate goal
    of helping researchers <a target="_blank" href="http://www.oncomine.com">cure cancer</a>. By night I fight crime.
  </p>
  <p>
    I developed an interest in photography after my father purchased a DSLR. He'd had an old
    Minolta 35mm film camera for forever but it wasn't until this simpler, sleek technology touched my
    hands that I was inspired to pick it up. I started using his camera more than he did and
    was coerced into purchasing my own. I began with a Sony Alpha but I have been shooting
    Nikon ever since a Christmas vacation theft debacle in 2009.
  </p>
  <p>
    I particularly enjoy fashion and nature photography. Each provides an opportunity for me
    to develop new relationships and gain insight into people and places. I'm appreciative
    of new outlooks and consider myself a continual learner. I consider wisdom and knowledge
    two of the highest virtues; any who possess them have the tools to build
    virtuosity throughout the rest of their lives.
  </p>
  <p>
    I'd like to thank you for coming to my site. I encourage you to browse my <a href="{% url 'photography:photography' %}">portfolio</a>
    and <a href="{% url 'contact:contact' %}">contact me</a> with your questions, comments, and critiques.
  </p>
</div>
<hr />
<h2>Résumé</h2>
<p>
  <a href="http://resume.linkedinlabs.com/j83am5nk0.pdf">
    <img class="menu-icon" src="{{ STATIC_URL }}images/icons/menu/black/download.svg" />
  </a>
</p>
{% endblock content %}
