{% extends "__base_no_disqus.html" %}
{% load static %}

{% block title %}About | {{ block.super }}{% endblock title %}

{% block description %}
About Dane Hillard, the brains behind the Dane Hillard Photography operation.
{% endblock description %}

{% block og_title %}About | {{ block.super }}{% endblock og_title %}
{% block og_images %}
<meta property="og:image" content="{{ request.get_host }}{% static 'images/DaneHillard.jpg' %}" />
{% endblock og_images %}

{% block content %}
<div class="row">
    <div class="text-center col-md-4">
        <h2>Serving</h2>
        <div>Philadelphia</div>
    </div>
    <div class="text-center col-md-4">
        <h2>Hours</h2>
        <div>Weeknights</div>
        <div>Weekends</div>
        <div>By Appointment</div>
    </div>
    <div class="text-center col-md-4">
        <h2>Specialties</h2>
        <div>Fashion Photography</div>
        <div>Lifestyle Photography</div>
    </div>
</div>
<hr />
<h1 class="text-center">About Me</h1>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-md-2 col-md-offset-5">
        <img class="img-responsive" title="Credit: Peter Ung Photography" id="me" src="{% static 'images/Dane-Hillard-portrait-by-Peter-Ung-Photography.jpg' %}" alt="Dane Hillard portrait courtesy of Peter Ung Photography" nopin="nopin" />
    </div>
</div>
<div class="row top-buffer">
    <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <p>
            I've been behind the camera since 2007.
            I developed a particular interest in fashion photography
            after reading several fashion blogs my friends were into.
            I really enjoy men's and women's style equally and even like to see them mix when it's done well.
        </p>
        <p>
            Fashion is an expressive medium and as such offers an individuality many others can't.
            Each person can take fashion and really make it their own.
            Learning what makes people want to design, produce, and wear different materials and patterns
            is simply intriguing and often insightful.
        </p>
        <p>
            I'd like to thank you for your interest in my work.
            I encourage you <a href="{% url 'contact:contact' %}">contact me</a> about anything
            from booking to talking shop about fashion!
        </p>
    </div>
</div>
{% endblock content %}

{% block final %}
    <script type="application/ld+json">{% include 'json-ld/organization.json' %}</script>
{% endblock final %}
