{% extends "__base_no_disqus.html" %}
{% load staticfiles %}

{% block title %}Contact | {{ block.super }}{% endblock title %}

{% block description %}
Contact Dane Hillard Photography via email or through various other social channels.
{% endblock description %}

{% block og_title %}Contact | {{ block.super }}{% endblock og_title %}

{% block content %}
{% include '__i_dhp_logo.html' %}

<h1 class="text-center">Get in touch!</h1>

<div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <p class="text-justify">
          My goal is to provide clients with images that do more than capture faces. A portrait
          should speak to its audience and reveal something about the subject. If you are
          interested in setting up a portrait session or have any questions regarding me,
          my equipment, or what a session with me might be like, please contact me using
          the form below.
        </p>
    </div>
</div>

<form action="{% url 'contact:contact' %}" method="post">{% csrf_token %}
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
            <div class="form-group{% if form.first_name.errors %} has-error{% endif %}">
                <input type="text" class="form-control" id="{{ form.first_name.auto_id }}" name="{{ form.first_name.html_name }}" placeholder="First name *" title="{{ form.first_name.html_name|title }}" />
            </div>
            <div class="form-group{% if form.last_name.errors %} has-error{% endif %}">
                <input type="text" class="form-control" id="{{ form.last_name.auto_id }}" name="{{ form.last_name.html_name }}" placeholder="Last name *" title="{{ form.last_name.html_name|title }}" />
            </div>
            <div class="form-group{% if form.email.errors %} has-error{% endif %}">
                <input type="email" class="form-control" id="{{ form.email.auto_id }}" name="{{ form.email.html_name }}" placeholder="{{ form.email.html_name|title }} *" title="{{ form.email.html_name|title }}" />
            </div>
            <div class="form-group{% if form.phone.errors %} has-error{% endif %}">
                <input type="phone" class="form-control" id="{{ form.phone.auto_id }}" name="{{ form.phone.html_name }}" placeholder="{{ form.phone.html_name|title }}" title="{{ form.phone.html_name|title }}" />
            </div>
            <div class="form-group{% if form.subject.errors %} has-error{% endif %}">
                <input type="text" class="form-control" id="{{ form.subject.auto_id }}" name="{{ form.subject.html_name }}" placeholder="{{ form.subject.html_name|title }} *" title="{{ form.subject.html_name|title }}" />
            </div>
            <div class="form-group{% if form.message.errors %} has-error{% endif %}">
                <textarea class="form-control" id="{{ form.message.auto_id }}" name="{{ form.message.html_name }}" placeholder="{{ form.message.html_name|title }} *" title="{{ form.message.html_name|title }}" ></textarea>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="{{ form.join_mailing_list.auto_id }}" name="{{ form.join_mailing_list.html_name }}" title="{{ form.join_mailing_list.html_name|title }}" />Join mailing list for blog updates and special rates
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="text-center col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4 col-lg-2 col-lg-offset-5">
            <input class="btn btn-primary btn-block send-button" type="submit" value="Send" />
        </div>
    </div>
</form>

{% include 'contact_links.html' %}
{% endblock content %}
