{% extends "__base_no_disqus.html" %}
{% load staticfiles %}

{% block title %}Contact | {{ block.super }}{% endblock title %}

{% block description %}
Contact Dane Hillard Photography via email or through various other social channels.
{% endblock description %}

{% block og_title %}Contact | {{ block.super }}{% endblock og_title %}

{% block content %}
<h1 class="text-center">Get in touch!</h1>

<div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <p class="text-justify">
          My goal is to provide clients with images that do more than capture faces. A portrait
          should speak to its audience and reveal something about the subject. If you are
          interested in setting up a portrait session or have any questions regarding me,
          my equipment, or what a session with me might be like, please contact me using
          the form below.
        </p>
    </div>
</div>

<form action="{% url 'contact:contact' %}" method="post">{% csrf_token %}
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
            {% if form.non_field_errors %}
                <ul>
                {% for error in form.non_field_errors %}
                    <li class="text-danger">{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            <div class="form-group{% if form.first_name.errors %} has-error{% endif %}">
                <input type="text" class="form-control" id="{{ form.first_name.auto_id }}" name="{{ form.first_name.html_name }}" placeholder="First name *" title="First name" required="required" />
                <label for="{{ form.first_name.auto_id }}" class="sr-only">First Name</label>
            </div>
            <div class="form-group{% if form.last_name.errors %} has-error{% endif %}">
                <input type="text" class="form-control" id="{{ form.last_name.auto_id }}" name="{{ form.last_name.html_name }}" placeholder="Last name *" title="Last name" required="required" />
                <label for="{{ form.last_name.auto_id }}" class="sr-only">Last Name</label>
            </div>
            <div class="form-group{% if form.email.errors %} has-error{% endif %}">
                <input type="email" class="form-control" id="{{ form.email.auto_id }}" name="{{ form.email.html_name }}" placeholder="{{ form.email.html_name|title }} *" title="{{ form.email.html_name|title }}" required="required" />
                <label for="{{ form.email.auto_id }}" class="sr-only">Email</label>
            </div>
            <div class="form-group{% if form.phone.errors %} has-error{% endif %}">
                <input type="phone" class="form-control" id="{{ form.phone.auto_id }}" name="{{ form.phone.html_name }}" placeholder="{{ form.phone.html_name|title }}" title="{{ form.phone.html_name|title }}" />
                <label for="{{ form.phone.auto_id }}" class="sr-only">Phone</label>
            </div>
            <div class="form-group{% if form.subject.errors %} has-error{% endif %}">
                <input type="text" class="form-control" id="{{ form.subject.auto_id }}" name="{{ form.subject.html_name }}" placeholder="{{ form.subject.html_name|title }} *" title="{{ form.subject.html_name|title }}" required="required" />
                <label for="{{ form.subject.auto_id }}" class="sr-only">Subject</label>
            </div>
            <div class="form-group{% if form.message.errors %} has-error{% endif %}">
                <textarea class="form-control" id="{{ form.message.auto_id }}" name="{{ form.message.html_name }}" placeholder="{{ form.message.html_name|title }} *" title="{{ form.message.html_name|title }}" required="required"></textarea>
                <label for="{{ form.message.auto_id }}" class="sr-only">Message</label>
            </div>
            <div class="g-recaptcha bottom-buffer" data-sitekey="{{ RECAPTCHA_SITE_KEY }}"></div>
        </div>
    </div>
    <div class="row">
        <div class="text-center col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4 col-lg-2 col-lg-offset-5">
            <input class="btn btn-primary btn-block send-button" type="submit" value="Send" />
        </div>
    </div>
</form>
{% endblock content %}

{% block final %}
{{ block.super }}
<script type="text/javascript" src="https://www.google.com/recaptcha/api.js"></script>
{% endblock %}
