{% extends "home/base.html" %}

{% block title %}Contact{% endblock title %}

{% block og %}
<meta property="og:type" content="website" />
<meta property="og:title" content="Thanks | Dane Hillard Photography" />
<meta property="og:url" content="http://www.danehillard.com/contact/submit" />
<meta property="og:image" content="http://www.danehillard.com/static/images/logos/dhp.png" />
<meta property="og:description" content="{{ siteDescription }}" />
{% endblock og %}

{% block content %}
<p>
  Thank you for your message! You will receive a confirmation shortly.
</p>
{% endblock content %}
